.container {
  display: grid;
  grid-template-columns: min-content 33% 1fr 1fr 1fr;
  grid-template-rows: min-content, 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "avatar name name name name"
    "avatar content content . ."
    ". content content . .";
  padding: 16px;
  border-bottom: 1px solid lightgrey;
}

.pic {
  grid-area: avatar;
  justify-self: center;
  align-self: start;
  border-radius: 50%;
  border: 1px solid lightgrey;
  width: 84px;
  height: 84px;
  margin-top: 12px;
  margin-right: 6px;
}

.name {
  grid-area: name;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: 500;
}

.content {
  grid-area: content;
  margin-left: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: small;
  /* align-content: center;
  text-align: left; */
}

.content div {
  padding-left: 5px;
  padding-top: 2px;
}
